<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{{- partial "favicon.html" . -}}
		<title>
			{{- block "title" . }}
				{{ if eq .Title "Serhan Kileci" }}
					{{ .Site.Title }}
				{{ else }}
					{{ trim .Title "s" }} | {{ .Site.Title }}
			{{ end }}
		{{- end }}
				</title>

		{{- partial "seo_tags.html" . -}}
		<meta name="referrer" content="no-referrer-when-downgrade" />

		{{ with .OutputFormats.Get "rss" -}} {{ printf `
		<link rel="%s" type="%s" href="%s" title="%s" />
		` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}} {{- partial
		"style.html" . -}}
	</head>

	<body>
		<header style="user-select: none; -webkit-user-select: none; cursor: default;">{{- partial "header.html" . -}}</header>
		<!-- being able to go back and forth between the same subject posts would be cool -->
		<!-- {{ if or (.Prev) (.Next) }}
		<div style="display: flex; justify-content: space-between; padding-top: 2%; padding-bottom: 2%;">
			{{ if and (.Prev) (ne .Path "/categories") (ne .Path "/about") (ne .Path "/") }}
				<a href="{{ .Prev.Permalink }}" style="cursor: default; user-select: none; -webkit-user-select: none;">previous</a>
			{{ end }}
			{{ if and (.Next) (ne .Path "/categories") (ne .Path "/about") (ne .Path "/") }}
				<a href="{{ .Next.Permalink }}" style="cursor: default; user-select: none; -webkit-user-select: none;">next</a>
			{{ end }}
		</div>
		{{ end }} -->
		</div>
		<div style="display: grid; gap: 14%">
		<div style="display: flex; justify-content: center;">
			<div style="font-size: small; user-select: none; -webkit-user-select: none; cursor: default;">
				<p>reading <a href="https://www.goodreads.com/book/show/52373.Regarding_the_Pain_of_Others" target="_blank"><i>regarding the pain of others</i></a> by susan sontag</p>
			</div>
		</div>
		</div>
		<main>{{- block "main" . }}{{- end }}</main>
		<footer>{{- partial "footer.html" . -}}</footer>
	</body>
</html>
