{{ define "main" }}

{{ if ne .Section "tags" }}
	<h3 style="user-select: none; -webkit-user-select: none; cursor: default;">{{ lower .Section }}</h3>
{{ end }}


<content>
  <ul class="blog-posts">
    {{ range .Pages }}
    <div>
				<div style="display: flex; cursor: default; align-items: center; gap: 2%; width: 100%; user-select: none; -webkit-user-select: none;">
					<p class="post-date" style="text-align: center;"><i>
						{{ if and (eq .Params.soon true) }}
							soon
						{{ else }}
							draft
						{{ end }}
					</i></p>
					<div class="post-title-and-category-box">
						<div style="display: none;" class="post-category-box">
							<a href="{{ .Section }}" class="post-category"><i>#{{ slicestr (path.Dir .Page.Path) 1 }}</i></a>
						</div>
						<p class="post-title" style="cursor: not-allowed;">{{ .Title }}</p>
					</div>
				</div>
	</div>
	{{ end }}
  </ul>
</content>
{{ end }}
