{{ define "main" }}

{{ if ne .Section "tags" }}
	<h3 style="user-select: none; -webkit-user-select: none; cursor: default;">{{ lower .Section }}</h3>
{{ end }}

<div>
	{{ $seen := slice }}
	{{ with .Site.GetPage "section" .Section }}
	  {{ range .Pages }}
		{{ range .Params.tags }}
		  {{ $tag := . }}
		  {{ if not (in $seen $tag) }}
			{{ $seen = $seen | append $tag }}
			<a href="{{ "/tags/" | relURL }}{{ $tag | urlize }}">#{{ $tag }}</a>&nbsp;
		  {{ end }}
		{{ end }}
	  {{ end }}
	{{ end }}
</div>

<content>
  {{ if .Data.Singular }}
  <h3 style="margin-bottom:0">posts tagged with <i>{{ lower .Title }}</i></h3>
  <small>
    <a href="javascript:history.back()">remove</a>
  </small>
  {{ end }}
  <ul class="blog-posts">
    {{ range .Pages }}
    <div>
		{{ if .Draft }}
		<div style="display: flex; cursor: default; user-select: none; -webkit-user-select: none;">
			<p style="width: 20%;"><i>soon</i></p>
			<p style="opacity: 75%;">{{ .Title }}</p>
		</div>
		{{ else }}
		<div style="display: flex;">
			<p style="width: 20%;"><i>{{ .Date.Format "Jan 2, 2006" }}</i></p>
			<p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
		</div>
		{{ end }}
	</div>
    {{ else }}
    <li>
      No posts yet
    </li>
    {{ end }}
  </ul>
</content>
{{ end }}
