<!-- <a href="{{ "" | relURL }}" class="title" style="display: inline-block; margin-top: 5%; padding: 0;">
	<h2 style="display: inline-block; margin: 0; padding: 0;">{{ .Site.Title }}</h2>
</a> -->
<div class="header-box">
	<img class="avatar" src="/avatar.png" />
	<div style="display: grid; justify-content: center;">
		<h2 style="display: inline-block; margin: 0; padding: 0; cursor: default; user-select: none; -webkit-user-select: none;">{{ .Site.Title }}</h2>
		<nav>{{- partial "nav.html" . -}}</nav>
	</div>
</div>

<hr />
