{{ define "main" }}
<h3 style="user-select: none; -webkit-user-select: none; cursor: default;">latest</h3>
<ul class="blog-posts">
	{{ $pages := where .Site.RegularPages "Title" "!=" "About" }}
	{{ if $pages }}
		{{ range last 10 $pages }}
		<div>
			{{ if .Draft }}
			<div style="display: flex; cursor: default; user-select: none; -webkit-user-select: none;">
				<p style="width: 20%;"><i>soon</i></p>
				<p style="opacity: 75%;">{{ .Title }}</p>
			</div>
			{{ else }}
			<div style="display: flex;">
				<p style="width: 20%;"><i>{{ .Date.Format "Jan 2, 2006" }}</i></p>
				<p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
			</div>
			{{ end }}
		</div>
		{{ end }}
		<!-- {{ $remaining := sub 10 (len $pages) }}
		<div style="display: grid; gap: 5%; margin-top: 2%;">
			{{ range seq $remaining }}
				<p style="background-color: whitesmoke; width: 100%; height: 2rem;" />
			{{ end }}
		</div> -->
	{{ else }}
		<p>no posts yet</p>
	{{ end }}
</ul>
{{ end }}
