{{ define "main" }}
<h3 class="select-none home-title">posts</h3>

<table style="table-layout: fixed;" class="select-none cursor-default">
	{{ $pages := where .Site.RegularPages "Title" "!=" "about" }}
	{{ $pages = where $pages "Title" "!=" "categories" }}
	{{ if $pages }}
		{{ range last 10 $pages }}
			{{ if not (.Draft) }}
					<tr>
						<td>
							<p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"><i>{{ slicestr (path.Dir .Page.Path) 1 }}</i></p>
						</td>
						<td style="padding-left: 2%;" class="title">
							<a href="{{ .Page.Path }}" class="post-title select-text">{{ .Title }}</a>
						</td>
					</tr>
			{{ end }}
		{{ end }}
	{{ else }}
		<p>no posts yet</p>
	{{ end }}
</table>
{{ end }}
